body {
    padding: 140px;
    flex-direction: column; /* 垂直排列标题和图表 */
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
    margin: 0px;
    background-color: turquoise;
    color:darkblue;
    font-size: medium;
    font-family:'Times New Roman', Times, serif;
}

footer {
    align-self: center;
    padding: 100px;
}

h1 {
    margin-bottom: 50px; /* 设置标题下方的间距 */
    font-size: 50px; /* 根据需要调整字体大小 */
    text-align: center; /* 居中标题 */
    
}

h2{
    font-size: 20px; /* 根据需要调整字体大小 */
    text-align: center; /* 居中标题 */
}

.h4-2{
    text-align: center;
    font-style: italic;
}

/* Header Section */
#hero {
    position: relative;
    text-align: center;
}
  
.hero-image {
    position: relative;
}
  
.hero-image img {
    width: 1200px;
    height: auto;
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
    font-size: 50px;
}

.pic-container {
    display:flexbox;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin: 20px auto;
    max-width: 1000px;
}

.bilingual-container {
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 20px;
    justify-content: center;
    max-width: 1040px;
}

.column {
    padding: 20px;
    background-color: rgba(255,255,255,0.5);
    border-radius: 10px; 
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.1);
    color:darkblue;
}

.column2 {
    padding: 20px;
    background-color: rgba(255,255,255,0.5);
    border-radius: 10px; 
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.1);
    color:darkblue;
    width: 1000px;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.iframe-container {
    text-align: center;
    width: 700px;
    background-color: rgba(255,255,255,0.5);
    border-radius: 10px; 
    padding: 20px;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.1);
    color:darkblue;
}

.center-wrapper{
    width: 100%;
    display: flex;
    justify-content: center; /* 再次确保水平居中 */
    align-items: center;
    overflow: hidden; /* 隐藏滚动条 */
}

.center-wrapper2{
    width: 100%;
    display: flex;
    justify-content: center; /* 再次确保水平居中 */
    align-items: center;
    overflow: hidden; /* 隐藏滚动条 */
}

.container3 {
    display:flexbox;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin: 20px auto;
    max-width: 1000px;
}

.container4 {
    display:flexbox;
    width: 700px;
    text-align: center;
}




.iframe-container2{
    text-align: center;
    width: 1000px;
    padding: 20px;
    background-color: rgba(255,255,255,0.5);
    border-radius: 10px; 
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.1);
    color:darkblue;
    overflow: hidden; /* 隐藏滚动条 */
}

.responsive-iframe2{
    width: 1000px; /* 设置宽度 */
    height: 600px; /* 设置高度 */
    border: none;
    overflow: hidden; /* 隐藏滚动条 */
}

.responsive-iframe {
    width: 100%; /* 设置宽度 */
    height: 3500px; /* 设置高度 */
    border: none;
}

.align-heading{
    text-align: center;
    border-bottom: #ffffff;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: bold;
}

.container {
    display: flex;
    justify-content: center;
    position: relative;
    flex-grow: 1; /* 占据剩余空间 */
    padding-top: 10px; /* 图表顶部的间距 */
}

.avatar{
    margin: 20px auto;
    width: 200px;
    display: block;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    border: 2px solid #4a90e2;
    align-items: center;
}

.pic {
    margin: 20px auto;
    width: 700px;
    display: block;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    border: 2px solid #4a90e2;
    align-items: center;
}

.pic2 {
    margin: 20px auto;
    width: 1000px;
    display: block;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    border: 2px solid #4a90e2;
    align-items: center;
}

.center-wrapper3 {
    width: 100%;
    display: flex;
    justify-content: center; /* 再次确保水平居中 */
    align-items: center;
    overflow: hidden; /* 隐藏滚动条 */   
}

p {
    margin: 0 0 0 0; /* 设置段落下方的间距 */
    line-height: 1.2; /* 行间距 */
}
  